<table style="width: 600px; background-color: #F5F5F5;">
  <tbody>
    <tr>
      <td>
        <h1>
          <%= @transaction.event_name %>
        </h1>
      </td>
    </tr>
    <tr>
      <td>
        <% start_date = l(@transaction.event_start_time, format: :long) if @transaction.event_start_time %>
        <% end_date = l(@transaction.event_end_time, format: :long) if @transaction.event_end_time %>
        <%= t(".body", even_name: @transaction.event_name, start_date: start_date, end_date: end_date, price: number_to_currency(@transaction.total_amount)) %>
      </td>
    </tr>
  </tbody>
</table>
