<% [:notice, :error, :alert, :warning].each do |level| %>
  <% unless flash[level].blank? %>
    <div class="alert alert-<%= flash_class(level) %>">
      <%= flash[level] %>
    </div>
  <% end %>
<% end %>
