<script type="text/ng-template" id="<%= modal_name %>.html">
  <div class="modal-header">
    <a href="javascript:void(0);" class="close" ng-click="$dismiss()">×</a>
    <h3><%= title %></h3>
  </div>
  <div class="modal-body">
    <%= message.html_safe %>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="$dismiss()">OK</button>
  </div>
</script>
