%div{:modal => modal_name, :close => close_function}
  .modal-header
    %h3= title
  .modal-body
    = message.html_safe
  .modal-footer
    %button.btn{:type => "button", "ng-click" => close_function}
      = t("buttons.ok")
