<% content_for :without_container do %>
  <div class="home-section">
  </div>
<% end %>


<div class="page-header">
  <h1>Últimos Eventos</h1>
</div>

<table class="table table-striped">
  <tr>
    <th><%=t 'activerecord.attributes.event.name' %></th>
    <th><%=t 'activerecord.attributes.event.address' %></th>
    <th><%=t 'activerecord.attributes.event.description' %></th>
    <th><%=t 'activerecord.attributes.event.start_time' %></th>
    <th><%=t 'activerecord.attributes.event.end_time' %></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event, :class => 'strong-link' %></td>
    <td><%= event.address %></td>
    <td><%= event.description %></td>
    <td><%= l event.start_time, format: :short %></td>
    <td><%= l event.end_time, format: :short %></td>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Event %>
  <%= link_to 'Crear Evento', new_event_path, :class => 'btn btn-success' %>
<% end %>
