<div class="navbar persistent-header navbar-static-top">
  <div class="persistent-header-inner">
    <div class="container">
      <div class="page-header">
        <div class="row-fluid">
          <div class="span6">
            <div class="row-fluid">
              <div class="span4">
                <%= link_to edit_event_path, :class => "btn btn-success btn-primary btn-large pull-left" do %>
                  <i class="icon-circle-arrow-left icon-large"></i>
                  Editar
                <% end %>
              </div>
              <div class="span8">
                <h1 class="text-left">Vista Previa</h1>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="dropdown vertical-align-center pull-right">
              <a class="btn btn-primary btn-success dropdown-toggle" href="#">
                Diseño
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <div class="img-container" ng-click="changeStyle(t)" ng-repeat="t in themes">
                  <div class="{{t.name}} color-container">
                    <div class="first-color"></div>
                    <div class="second-color"></div>
                  </div>
                </div>
              </ul>
            </div>
            <%= form_tag event_path(@event), :method => :put do %>
              <%= hidden_field_tag 'event[theme]', '', :value => '{{theme}}' %>
              <%= button_tag 'Guardar cambios' , class: 'btn btn-success btn-primary btn-large pull-right' , type: :submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
