- content_for(:publish_navbar) do
	.navbar.persistent-header.navbar-static-top.navbar-shadow{"ng-controller" => "EventTopBarCtrl", "ng-init" => "init(#{raw PTE::Theme::types_to_a.to_json}, '#{@event.theme}')"}
		.navbar-inner
			.container
				.page-header
					.row-fluid
						.span6
							.row-fluid
								.span4
									=link_to edit_event_path, :class => "btn btn-success btn-primary btn-large pull-left" do
										%i.icon-circle-arrow-left.icon-large
										Editar
								.span8
									%h3.text-left Vista Previa
						.span6

							.dropdown.vertical-align-center.pull-right
								%a.btn.btn-primary.btn-success.dropdown-toggle{:href => "#"}
									Diseño
									%span.caret
								%ul.dropdown-menu
									.img-container{"ng-repeat" => "t in themes", "ng-click" => "changeStyle(t)"}
										.color-container{"class" => "{{t.name}}"}
											.first-color
											.second-color

							=form_tag event_path(@event, :preview => 'true'), :method => :put do
								=hidden_field_tag 'event[theme]', '', :value => '{{theme}}'
								=button_tag 'Guardar cambios' , class: 'btn btn-success btn-primary btn-large pull-right' , type: :submit
