.page-header
  %h1 Dashboard
/ angular controller
#page_event.row
  .span3
    = render 'shared/sidebar'
  .span9
    .page-header
      %h3 Tickets vendidos
    .row-fluid
      .span4.smallstat.mobileHalf.box{:ondesktop => "span3", :ontablet => "span6"}
        %i.icon-money.blue
        %span.title Account
        %span.value $19 999,99
      .span4.smallstat.box.mobileHalf.noMargin{:ondesktop => "span3", :ontablet => "span6"}
        %i.icon-download-alt.green
        %span.title Income
        %span.value $1 999,99
      .span4.smallstat.mobileHalf.box{:ondesktop => "span3", :ontablet => "span6"}
        %i.icon-money.red
        %span.title Account
        %span.value $19 999,99
    %div{"ng-controller" => "EventDashboardCtrl"}
      %tabset
        / <tab heading="Static title">Static content</tab>
        %tab{:active => "tab.active", :disabled => "tab.disabled", :heading => "{{tab.title}}", "ng-repeat" => "tab in tabs"}
          {{tab.content}}
