<div class="page-header">
  <h1>Dashboard</h1>
</div>

<!-- angular controller -->
<div id="page_event" class="row">

  <div class="span3">
    <div class="sidebar">
      <div class="first-child sidebar-header">
        <i class="icon-home icon-large"></i> Dashboard
      </div>
      <div class="sidebar-header">
        <i class="icon-reorder icon-large"></i> General
      </div>
      <ul class="nav nav-list sidenav affix-top">
        <li><a href="#preview-event"><i class="icon-chevron-right"></i> Vista Previa</a></li>
        <li><a href="#edit-event"><i class="icon-chevron-right"></i> Editar Evento</a></li>
      </ul>
      <div class="sidebar-header">
        <i class="icon-share icon-large"></i> Promociona
      </div>
      <ul class="nav nav-list sidenav affix-top">
        <li><a href="#send-mails"><i class="icon-chevron-right"></i> Enviar email</a></li>
        <li><a href="#facebook-integration"><i class="icon-chevron-right"></i> Integrar Facebook</a></li>
        <li><a href="#twitter-integration"><i class="icon-chevron-right"></i> Integrar Twitter</a></li>
      </ul>

      <div class="sidebar-header">
        <i class="icon-bar-chart icon-large"></i> Estadísticas
      </div>
      <ul class="nav nav-list sidenav affix-top">
        <li><a href="#analyze-1"><i class="icon-chevron-right"></i> Estadistica 1</a></li>
        <li><a href="#analyze-2"><i class="icon-chevron-right"></i> Estadistica 2</a></li>
        <li><a href="#analyze-3"><i class="icon-chevron-right"></i> Estadistica 3</a></li>
        <li><a href="#analyze-4"><i class="icon-chevron-right"></i> Estadistica 4</a></li>
        <li><a href="#analyze-5"><i class="icon-chevron-right"></i> Estadistica 5</a></li>
        <li><a href="#analyze-6"><i class="icon-chevron-right"></i> Estadistica 6</a></li>
      </ul>
    </div>
  </div>

  <div class="span9">


  </div>
</div>