<div class="page-header">
  <h1>Crear un Evento</h1>
</div>

<!-- angular controller -->
<div id="page_event" class="row" ng-controller="EventNewCtrl">
  <div class="span10 offset1">
    <%= render 'form' %>
  </div>
</div>
