%h1 Listing tickets

%table
  %tr
    %th Ticket type
    %th
    %th
    %th

  - @tickets.each do |ticket|
    %tr
      %td= ticket.ticket_type_id
      - if can? :read, ticket
        %td= link_to 'Show', ticket