!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "IE=8", "http-equiv" => "X-UA-Compatible"}/
    = wicked_pdf_stylesheet_link_tag 'tickets.css'
  %body
    = yield
