 <table style="width: 600px; background-color: #F5F5F5;">
  <tbody>
    <tr>
      <td>
        <h1>
          <%= t(".title") %>
        </h1>
      </td>
    </tr>
    <tr>
      <td>
        <%= t(".body", promotion: @promotion.name) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= @errors.inspect %>
      </td>
    </tr>
  </tbody>
</table>
