.panel.activation-code-panel
  .panel-heading.panel-title
    %i.icon-barcode
    = t(".title")
  .input-append
    = text_field_tag(:activation_code, nil, :class => 'span5 code-input', :placeholder => 'Ingrese su código aquí...', 'ng-model' => 'data.code')
    = submit_tag(t('buttons.use'), :class => 'btn span2 btn-success code-btn', 'ng-click' => 'usePromoCode($event)')
