.panel
  .panel-heading.panel-title
    %i.icon-ticket
    = t(".title")
  - @nested_resource = @transaction.nested_resource || @transaction.build_nested_resource
  = form.fields_for :nested_resource, @nested_resource do |ff|
    - @nested_attributes.each do |na|
      - control_group(ff, na[:attr], build_control(ff, na[:attr], na[:type], {class: "span4"}), {required: na[:required]})