<div class="panel">
  <div class="panel-heading panel-title">
    <i class="icon-user"></i>
    <%= t(".title") %>
  </div>
  <% nested_resource = @transaction.nested_resource || @transaction.build_nested_resource %>
  <%= form.fields_for :nested_resource, nested_resource do |ff| %>
    <% @event.nested_attributes.each do |na| %>
      <% html_options = {class: "span5"} %>
      <% html_options[:required] = true if na[:required] %>
      <%= control_group(ff, na[:attr], build_control(ff, na[:attr], na[:type], html_options), {required: na[:required]}) %>
    <% end %>
  <% end %>
</div>
