.panel
  .panel-heading.panel-title
    %i.icon-ticket
    = t(".title")
  .payment-methods-list
    .payment-items-wrapper
      - payment_methods.each do |payment_method|
        = render :partial => 'payment_item', :locals => { :payment_method => payment_method, :form => form }