.panel.panel-primary
  .panel-heading.panel-title
    %i.icon-ticket
    = t(".title")
  .transaction-summary
    - @ticket_types.each do |t|
      .ticket-type-row
        .name.span7
          = t.bought_quantity.to_s + " x " + t.name
        .total.span4
          = number_to_currency(t.bought_quantity_price)
