<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=8" http-equiv="X-UA-Compatible"/>
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
  </head>
  <body style="padding-top: 0">
    <%= yield %>
  </body>
</html>
