.sidebar
  .first-child.sidebar-header
    %i.icon-cog.icon-large
    =t("configuration.title")
  %ul.nav.nav-list.sidenav.affix-top
    %li
      %a{ href: configuration_account_path }
        %i.icon-chevron-right
        =t("configuration.account.title")
    %li
      %a{ href: configuration_transactions_path }
        %i.icon-chevron-right
        =t("configuration.transactions.title")
    %li
      %a{ href: configuration_producers_path }
        %i.icon-chevron-right
        =t("configuration.producers.title")