.promo-type {
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  &.type-box {
    font-size: 60px;
    border-style: solid;
    border-width: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    margin-left: 15px;
    border-radius: 10px;
  }

  &.nx1 {
    color: #eac85e;
  }

  &.percent-discount {
    color: #e5603b;
  }

  &.amount-discount {
    color: #8cbf26;
  }
}
