/* # FONTS FACE
================================================== */

@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}



/* # FONTS
================================================== */
body, html {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}


/* # COLORS
================================================== */
@orange: #f1ad4b;
@white: #ffffff;
@red: #b94a48;
@gray: #dddddd;
@yellow: #eae874;
@skyBlue: #39afea;
@lightRed: #ff2121;
@lightGreen: #5db734;
@lightBlue: #1e8fc6;
@lightGray: #f5f5f5;
@darkOrange: #E48A17;
@strongOrange: #D14C18;
@darkGray: #666666;

.blue {
	background-color: #36a9e1;
}
.green {
	background-color: #bdea74;
}
.red {
	background-color: #ff5454;
}
.dark-orange-text {
	color: @darkOrange;
}
.red-text {
	color: @red;
}


/* # FONTS
================================================== */
body, html {
	line-height: 1.4;
	font-weight: 300px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	color: @darkGray;
	font-weight: 300;
}

.right-align {
	text-align: right;
}

.bold {
	font-weight: 400;
}

/* # TEXTS
================================================== */

.instructions {
	padding-top: 10px;
	padding-bottom: 10px;
}

.alert {
	margin-top: 30px;
	margin-bottom: 0;
}

.text-center {
	padding-left: 0px !important;
}

/* # THEMES
================================================== */

.default {
	.first-color {background-color: #F1AD4B;}
	.second-color {background-color: #F5F5F5;}
}
.dark {
	.first-color {background-color: #1C1E22;}
	.second-color {background-color: #3B4045;}
}
.burnout {
	.first-color {background-color: #D14D4D;}
	.second-color {background-color: #EDE2C0;}
}
.azul {
	.first-color {background-color: #2C3E50;}
	.second-color {background-color: #3498DB;}
}
.nature {
	.first-color {background-color: #108A93;}
	.second-color {background-color: #89E570;}
}
.jelly {
	.first-color {background-color: #8A63AB;}
	.second-color {background-color: #A480C4;}
}

/* # BUTTONS
================================================== */

.btn-succes-transaction {
	padding: 20px 70px;
	margin-top: 40px;
	margin-left: 380px;
}

.btn-mini-in-line {
	width: 60px;
}

.btn-publish {
	float: none !important;
	height: 65px !important;
	width: 260px !important;
}
/* # HOME CONTAINER
================================================== */
.intro {
	margin-top: 88px;

	h1, h2 {
		color: #ffffff;
		padding: 5px;
		display: inline-block;
		background: rgba(255, 153, 0, 0.7);
	}
	h1 {
		font-weight: 400;
		text-transform: uppercase;
	}
	h2 {
		line-height: 24px;
		font-size: 20px;
	}

	.btn {
		float: right;
		margin-top: -1px;
		height: auto;
		padding: 10px;
		background-color: @strongOrange;
		border-color: #b6420c;
		text-align: left;
		width: 176px;
		text-shadow: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		text-transform: uppercase;

		i {
			float: right;
		}
	}
}

/* # NAVBAR STYLES
================================================== */

.navbar.persistent-header .persistent-header-inner {
	background-color: @white;
	border-bottom: 0px;
	border-top: 1px #ece9e9 solid;
	box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,.1);
	background-image: -moz-linear-gradient(top, @white, @white);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@white), to(@white));
	background-image: -webkit-linear-gradient(top, @white, @white);
	background-image: -o-linear-gradient(top, @white, @white);
	background-image: linear-gradient(to bottom, @white, @white);
	text-transform: none;

	.vertical-align-center {
		margin-top: 10px;
	}

	.dropdown {
		a {
			font-size: 14px;
			font-weight: 300;
		}

		.dropdown-menu {
			width: 174px;
			padding: 6px 0px 0px 6px;

			.img-container {
				margin: 0px 2px 6px 0px;
				display: inline-block;
				background-color: #FFFFFF;
				border: 1px solid #CFCFCF;
				padding: 4px 6px 4px 4px;
				width: 40px;
				position: relative;

				&:hover {
					background-color: @orange;
					cursor: pointer;
				}

				.color-container {
					height: 40px;
					width: 40px;
					border: 1px solid #EEE9E9;
					overflow: hidden;
					position: relative;

					.first-color {
						height: 60px;
						width: 60px;
						top: -31px;
						right: -31px;
						display: block;
						position: absolute;
						-webkit-transform: rotate(45deg);
    					-moz-transform: rotate(45deg);
    					-o-transform: rotate(45deg);
    					transform: rotate(45deg);
					}

					.second-color {
						height: 60px;
						width: 60px;
						bottom: -31px;
						left: -31px;
						display: block;
						position: absolute;
						-webkit-transform: rotate(45deg);
    					-moz-transform: rotate(45deg);
    					-o-transform: rotate(45deg);
    					transform: rotate(45deg);
					}

				}

		 		img {
		 			border: 1px solid #EEE9E9;

		 		}
			}
		}
	}

	.btn {
		font-size: 14px;
		margin-top: -1px;
		height: auto;
		padding: 16px 16px 16px;
		border-left: 1px solid @darkOrange;
		border-right: 1px solid @darkOrange;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		text-transform: uppercase;

		&.pull-left {
			margin: 10px 10px 10px 0px;
		}
		&.pull-right {
			margin: 10px 0px 10px 10px;
		}
		&:hover {
			border-color: @strongOrange;
		}
		&:focus {
			border-color: @strongOrange;
		}
	}

	.btn-primary  {
		background-color: @darkOrange;
		&:hover {
			background-color: @strongOrange;
		}
		&:focus {
			background-color: @strongOrange;
		}
	}

	.page-header {
		margin: 0;
		padding: 0;
	}

	h1 {
		margin: 19px 0;
	}

	h3 {
		margin-top: 15px;
		margin-left: -20px;
	}

	button {
		margin: 10px !important;
		padding-top: 14px !important;
	}
}

.navbar-fixed-top, .navbar-shadow {
	transition: all 0.4s ease;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
	box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.navbar-fixed-top .page-header, .navbar-shadow .page-header {
	border-bottom: none;
}

.navbar .dropdown .btn {
	color: @white;
	font-weight: bold;
	font-size: 11px;
	background-color: @orange;
	background-image: none;
	border: none;
	margin-top: 19.5px;
	padding: 8px 12px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar .dropdown-menu {
	min-width: 156px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.navbar .pull-right {
	li {
		span.devider {
			float: left;
			margin: 34px 4px 0 4px;
			padding-top: 12px;
			border-right: solid 1px #bbb;
		}
		a {
			font-size: 11px;
			padding: 30px 8px 4.375px;
		}
	}
	.dropdown-menu a{
		padding-top: 0 !important;
	}
}

/* # LINKS
================================================== */
.strong-link {
	color: @orange;
	font-weight: 500;
}

/* # FORM STYLES
================================================== */

form input[type="checkbox"] {
  margin-right: 4px;
}

form .form-actions a {
  margin-right: 8px;
}

form .no-space {
  margin-left: 0 !important;
}

form .input-large {
	width: 206px;
}
/* ===== Form events ===== */
#page_event form {
	input[name="start_date"], input[name^="end_date"] { width: 73px; }
	input[type="checkbox"] {margin-top: 0;}
	select.input-mini {width: 86px;}
	.logo-upload {
		.logo-container {
			position: relative;
			input {
				width: 110px;
				margin-left: 60px;
			}
			img {
				left: 0;
				width: 54px;
				top: -25px;
				position: absolute;
			}
		}
	}
	.icon-calendar {line-height: inherit;}
}

.form-shop {

	label {
		font-weight: 300;
	}
	.well {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding-top: 36px;
	}
	.input-xlarge {
		width: 330px;
	}
	.control-label {
		width: 100px;
	}
	.controls {
		margin-left: 120px;
	}
	.required {
		padding-left: 5px;
		float: right;
	}
}

.form-password-new {
	label {
		width: 100px !important;
	}
	.controls {
		margin-left: 120px;
	}
	.form-actions {
		padding-left: 120px;
		.links-container {
			display: inline-block;
		}
		.btn {
			margin-right: 8px;
			margin-bottom: 18px;
		}
	}
}
/* # VALIDATION STYLES
================================================== */

/* ===== Form validations ===== *

/* Show red border when stuff has been typed in, but its invalid */
form .ng-dirty.ng-invalid {
  border-color: @red;
}

form .input-error {
  color: @red;
}

form .input-error label {
  margin-bottom: 0;
}

/* # IMAGES
================================================== */
.medium-img{
	background-color: @lightGray;
	padding: 3px;
	border: 1px solid @gray;
	/*position: absolute;*/
	top: 0;
	bottom: 0;
	margin: auto;
}

.small-img{
	border: 1px solid @gray;

}

/* # PANELS
================================================== */
.panel {
	padding: 15px;
	margin-bottom: 20px;
	background-color: @white;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	.btn-large{
		padding: 0px 29px;
		h3 {
			color: @white;
			font-weight: 500;
			font-size: 22px;
			text-shadow: none;
		}
	}

}

.panel-primary {
	border-color: @orange;
}

.panel-heading {
	padding: 5px 15px;
	margin: -15px -15px 15px;
	background-color: @lightGray;
	border-bottom: 1px solid @white;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.panel-primary .panel-heading {
	color: @white;
	background-color: @orange;
	border-color: @orange;
}

.panel-title {
	font-size: 22px;
	line-height: 1.5em;
	font-weight: 500;
	line-height: 30px;
}

/* # SIDEBAR NAV
================================================== */

.sidebar {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.sidebar {
	.nav-list {
		padding-left: 0;
		padding-right: 0;
	}
	.sidebar-header {
		color: @white;
		padding: 8px;
		background-color: #f1ad4b;
		font-size: 16px;
		line-height: 30px;
	}
	.sidebar-header:first-child {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
		border-bottom: 1px solid @darkOrange;
	}
}

.icon-chevron-right {
	float: right;
}

.sidenav > {
	li {
		&:first-child > a {
			border-top: none;
		}
		&:last-child > a {
			-webkit-border-radius: 0 0 4px 4px;
			-moz-border-radius: 0 0 4px 4px;
			border-radius: 0 0 4px 4px;
		}
		&.active a {
			background-color: @darkOrange;
			border-color: @darkOrange;
			&:hover {
				background-color: @strongOrange;
			}
			&:focus {
				background-color: @strongOrange;
			}
		}
		a {
			display: block;
			width: 190px \9;
			margin: 0 0 -1px;
			padding: 8px 14px;
			border: 1px solid #e5e5e5;
			width: 230px \9;
		}
	}
}

/* # SMALLSTATS
================================================== */
.smallstat {
	background: #fff;
	padding: 10px;
	position: relative;
	background-color: #eeeeee;
}

.smallstat {
	i {
		text-align: center;
		display: block;
		color: #fff;
		width: 50px;
		font-size: 22px;
		padding: 14px 0;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		float: left;
		margin-right: 10px;
	}

	.value {
		font-size: 20px;
		font-weight: 700;
	}

	.title {
		top: 12px;
		color: #c7cbd5;
		display: block;
		font-size: 14px;
		margin-top: 4px;
	}
}

.box {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px dotted #D1D0CE;
	overflow: hidden;
	margin: 0 0 28px 0;
}

/* # NAV TABS
================================================== */
.nav-tabs {
	margin: 0;
	li a {
		background-color: #eeeeee;
	}
}

.tab-content {
	padding: 20px;
	border-top: none !important;
	border: 1px solid #ddd;
}

/* # ACTIONS
================================================== */
.table-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
	background: none;
  text-align: center;
}

/* # TABLES
================================================== */

.table-colored {
	border-top: 1px solid @gray;
	border-right: 1px solid @gray;
	border-bottom: 1px solid @gray;

	thead tr{
		border-left: 5px solid @gray;
	}

	tbody tr{
    border-left: 5px solid #8cbf26;

		&:nth-child(1n) {
      border-color: #e5603b
		}
		&:nth-child(2n) {
      border-color: #eac85e
		}
    &:nth-child(3n) {
      border-color: #8cbf26
    }
	}
}

.table-shop {
	margin-top: 30px;

	tbody tr td {
		padding: 20px 12px;
	}
}

.table-total, .table-payments {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	tr th {
		background: #F5F5F5;
	}
	tbody:first-child tr:first-child > th:first-child,
	tbody:last-child tr:last-child > th:first-child, {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

.table-payments {
	th, td {
		padding: 4px 8px;
		&:first-child {
			width: 40%;
		}
		.labelright {
			float: left;
		}
	}
}

.pte-table {
	tbody {
		background-color: #fff;
	}
	td {
		vertical-align: middle;
	}
}

/* # PAGE-HEADERS
================================================== */
.home.page-header {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
	h1 {
		margin: 40px 20px;
	}
}

.password-recovery.page-header {
	margin-bottom: 0;
	padding-bottom: 9px;
}

/* # LIST
================================================== */
.line-list {
	.line-border {
		border-left: 2px solid #CFCFCF;
	}
	&:last-child {
		.line-border {border:none;}
	}
	.img-container {
		background-color: #FFFFFF;
		border: 1px solid #CFCFCF;
		padding: 4px 6px 4px 4px;
		width: 80px;
		margin-left: 35px;
		position: absolute;
		 img {
		 	border: 1px solid #EEE9E9;
		 }

		 .icon-caret-left {
			font-size: 24px;
			top: 8px;
			right: -18px;
			position: absolute;
			color: #e04545;
		 }
	}
	.info-container {
		padding-left: 60px;
		z-index: 0;
		min-height: 106px;

		.media-body {
			background: #fafafa;
			padding: 10px;
			border-left: 3px solid #e04545;
			box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), inset -1px -1px 1px rgba(0, 0, 0, 0.05);
			-moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), inset -1px -1px 1px rgba(0, 0, 0, 0.05);
			-webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), inset -1px -1px 1px rgba(0, 0, 0, 0.05);
			margin-bottom: 14px;
			min-height: 72px;

			h4 {
				margin-top: 0;
				margin-right: 10px;
				padding-bottom: 8px;
				border-bottom: 1px solid #cecece;
				a {
					color: #e04545;
				}
			}
			p {
				font-size: 13px;
				padding-bottom: 14px;
			}
			small {
				display: inline-block;
				float: right;
				line-height: 20px;
				color: #999999;
				font-size: 68%;
			}
			blockquote, blockquote.pull-right {
				border: none;
				padding-left: 6px;
				margin: 0;
			}
			.time {
				font-size: 13px;
				strong {
					font-weight: bold;
					font-size: 13px;
					margin-right: 20px;
					margin-left: 2px;
				}
			}

			.btn{
				font-size: 13px;
				padding: 4px;
				width: 102px;
				background-color: #d14c18;
				border-color: #b6420c;
				text-shadow: none;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				text-transform: uppercase;
				i {padding-top: 4px;}
			}
		}
	}
}

/* # FOOTER
================================================== */
footer {
	min-height: 160px;
	margin-top: 100px;
	background-color: #252528;
	color: #fff;
	padding-top: 35px;
}

/* # MISC
================================================== */
.center {
  text-align: center !important;
}

.no-margin {
  margin: 0 !important;
}

.line-through {
  text-decoration: line-through !important;
}
