/* # FORM STYLES
================================================== */

form input[type="checkbox"] {
  margin-right: 4px;
}

form .form-actions a {
  margin-right: 8px;
}

form .no-space {
  margin-left: 0 !important;
}

/* ===== Form events ===== */
#page_event form .form-actions input {
  float: left;
  margin-right: 8px;
}

/* # VALIDATION STYLES
================================================== */

/* ===== Form validations ===== *

/* Show red border when stuff has been typed in, but its invalid */
form .ng-dirty.ng-invalid {
  border-color:#b94a48;
}

form .input-error {
  color:#b94a48;
}

form .input-error label {
  margin-bottom: 0;
}
