#printable-ticket {
  width: 190mm;
  height: 257mm;
  overflow: hidden;
  page-break-after: always;

  #printable-ticket_wrapper {
    background-color: #FFFFFF;
  }

  #qrcode {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.ticket {

  .ticket-wrapper {
    margin: 0 0 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F4F4F4;
    padding-bottom: 10px;

    .printer-img {
      margin-top: 35px;
      width: 100%;
    }

    .order-number {
      margin: 70px 0;
    }

    .hrule {
      border: 1px solid #DDD;
      border-width: 0 0 1px 0;
    }

    .printable-label-wrapper {
      padding: 0 0 0 5px;
      font-weight: bold;
      font-size: 14px;

      .printable-label, .printable-value {
        display: inline-block;
        min-height: 0px;
        padding-bottom: 10px;
      }
      .printable-value {
        margin-left: -5px;
      }
    }

    .conditions-wrapper {
      .conditions-title {
        font-size: 18px;
        font-family:  Impact;
        font-weight: lighter;
      }
      .conditions-sub-title {

      }
      .conditions-desc {
        margin: 0 0 10px 0;
        font-size: 11px;
      }
    }

    .producer-wrapper {
      margin: 100px 0 100px;
    }
  }
}
