<p>
  Hola <%= @resource.email %>
</p>
<p>Se ha solicitado un enlace para cambiar su contraseña. Usted puede hacer esto a través del siguiente enlace:</p>
<p>
  <%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</p>
<p>Si usted no fue quien realizo esta solicitud, por favor ignore este mensaje.</p>
<p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree una nueva.</p>
