<div class="page-header">
  <h1>Crear un Evento</h1>
</div>

<!-- angular controller -->
<div id="page_event" class="row" ng-controller="EventCtrl">
  <div class="span10 offset1">
    <%= render 'form' %>
    <%= link_to 'Back', me_events_path %>
  </div>
</div>
