body {
	background-color: #108A93;
	h1 {
		color: #FFF !important;
	}
}

.container {
	color: #FFF !important;
	.panel {
		border-color: #0B7736;
		color: #666666;
		.panel-heading {
			color: #666666;
			border-color: #09B354;
			background-color: #89E570;
		}
	}
}